
    <section id="sliderArea">
      <!-- Start slider wrapper -->      
      <div class="top-slider">
          <!-- Start 2nd slide -->
          <div class="top-slide-inner">
            <div class="slider-img">
              <img src="images/15.jpg" alt="">
            </div>
            <div class="slider-text">
            <style>
        <style>

            h1,h2 {
                color: white;
                text-align: left;
                background-color: lightblue;
            }

            p {
                font-family: verdana;
                font-size: 20px;
            }
        </style>
              <h2><strong>NICU in partnership with SURAKSHA KIDZ HOSPITAL,REDDY AND REDDY'S COLONY</strong></h2>
             <h4> <p> <strong>Facilities are -- Neonatal Team,Pediatric Team,Surgery Team,Dermatology,Medical Team</strong></p></h4>
              <div class="readmore_area">
                <a data-hover="Read More" href="#"><span>Read More</span></a>                
              </div>
            </div>
          </div>
          <!-- End 2nd slide -->

        
        
        
      </div><!-- /top-slider -->
    </section>
    